<div id="app-wrapper" [class.sidebar-min]="isSideBarClosed">
	<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
	 <div class=sidebar>
	 	<div class="header-logo">
	 		<i class="glyphicon glyphicon-play sidebar-icon"></i>
	 		<a id="logo" class="hidden-xs">SITBACK</a>
	 	</div>
	 	<ul class="nav navbar-nav side-nav">
	 		<li>
	 			<a [routerLink]="['Movies']"><i class="glyphicon glyphicon-film"></i> <span class="hidden-xs">Movies</span></a>
	 			
	 		</li>
	 		<li>
	 			<a [routerLink]="['TV']"><i class="glyphicon glyphicon-facetime-video"></i> <span class="hidden-xs">TV Shows</span></a>
	 		</li>
	 	</ul>
	 	<div class="collapse-nav">
	 		<a (click)="onSideBarClick()" class="toggle-nav-collapse sidebar-collapse" title="Open/Close"><i [class]="sideBarCollapseClass"></i></a>
	 	</div>
	 </div>
	<div id="wrapper">	    

	    <div id="page-wrapper">

	    <router-outlet></router-outlet>

	    </div>
	    <!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
</div><!-- /#app-wrapper -->