.navbar-nav {
    width: 100%;
}
.navbar-default .navbar-nav > li > a > i.glyphicon-remove-circle {
	font-size: 25px;
}
.navbar-nav>li.title a {
	padding-left: 0;
	font-size: 19px;
}
.movie-details {
	padding: 15px 0;
}
.movie-detail-poster {
	background: #34495E;
	border: 1px solid #34495E;
    border-radius: 3px;
	width: 100%;
	height: 150px;
	object-fit: cover;
}
ul#downloadList {
	width: 100%;
	min-width: 100px;
}
#movieDetails {
	background: transparent;
	font-size: 14px;
	max-height: 150px;
	background: rgba(255,255,255,0.5);
}
#movieDetails span.detail {
	display: block;
	margin-bottom: 10px;
}
#movieDetails label {
	font-size: 14px;
	font-weight: 600;
}
#movieDetails i {
	margin-right: 5px;
}
#moviePlayer {
	margin-top: 30px;
	margin-bottom: 30px;
}
.cover-wrapper {
	background: #fff;
	max-height: 150px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: -1;
	border-bottom: 1px solid #000;
	margin-top: 58px;
	margin-left: 75px;
}
.cover-wrapper img {
	filter: blur(42px);
	    -webkit-filter: blur(42px);
	    -moz-filter: blur(42px);
	    -ms-filter: blur(42px);
	    filter: url(assets/images/blur.svg#blur);
	    left: 50%;
	    margin: -56% 0 0 -56%;
	    position: absolute;
	    top: 0;
	    width: 112%;
	    z-index: 10;
}
.btn-group, .btn-group-vertical {
	margin: 0 10px;
}
.btn-group i, .btn-group-vertical i {
	font-size: 12px;
	margin:0;
}
.btn-group-vertical {
	margin: 0;
	width: 100%
}
video {
    width: 100%;
    height: auto !important;
    background: #000;
    padding-bottom: 50px;
}
vg-player {
	border: 5px solid;
	border-radius: 3px;
	position: inherit;
	width: 100%;
	display: inline-block;
	height: auto;
}
vg-player:-webkit-full-screen {
	display: flex;
	height: 100%;
	    border: 0;
}
vg-player:-moz-full-screen {
	display: flex;
	height: 100%;
	    border: 0;
}
vg-player:-ms-full-screen {
	display: flex;
	height: 100%;
	    border: 0;
}
vg-player:-o-full-screen {
	display: flex;
	height: 100%;
	    border: 0;
}
vg-player:full-screen {
	display: flex;
	height: 100%;
	    border: 0;
}
video:-webkit-full-screen, video:-moz-full-screen, video:-ms-full-screen, video:-o-full-screen, video:full-screen {
	height: 100% !important;
}
vg-scrub-bar {
	background: #2c3e50;
}
vg-controls {
	background: #34495e;
}
vg-time-display, vg-playback-button {
	    color: #798795 !important;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 500;
}
vg-play-pause, vg-mute, vg-fullscreen {
	color: #798795;
    font-size: 20px;
}