.movies-wrapper {
    padding: 15px 0;
        transition-duration: .3s;
}
.filter-wrapper {
    height: 100%;
    position: fixed;
    right: 0;
    width: inherit;
}

.filter-content {
        background: #ECF0F1;
        height: 100%;
    border-left: 1px solid #D3DCDE;
    font-size: 16px;
    padding: 15px 10px;
    margin-left: 10px;
}
.filter-form {
    overflow-y: auto;
        padding-bottom: 30px; 
}
.filter-wrapper .form-control.slider {
    padding: 0 10px 0 0;
    border: 0;
}
.filter-wrapper .imdb-label {
    position: relative;
    top: -25px;
    right: -89%;
    background: #1abc9c;
    font-size: 10px;
}
.filter-wrapper .form-control {
    border: 2px solid #ECF0F1;
}
.filter-wrapper .form-control:hover {
    border: 2px solid #1abc9c;
}
.filter-wrapper .form-control.slider:hover {
    border: 0;
}
/*.filter-wrapper .form-group {
    margin-bottom: 10px;
}*/
.panel-default {
    border: 0;
}
.panel {
     -webkit-box-shadow: none; 
     box-shadow: none; 
}
.panel-body {
    padding: 5px 10px;
}
.panel-default>.panel-heading {
    color: #34495E;
    border-color: #D3DCDE;
    background: #ECF0F1;
    padding: 5px 10px;
}
.panel-title {
    font-weight: 600;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 0;
    background: #ECF0F1;
}
.thumbnail {
        background-color: #34495E;
            border-radius: 4px;
            border: none;
            height: 350px;
            margin-bottom: 15px;
            padding: 0;
                    -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }

    .thumbnail h3 {
        font-size: 16px;
        text-align: center;
        font-weight: 600;
    }
    .thumbnail p {
        font-size: 14px;
        text-align: center;
    }
    .thumbnail .caption {
        color: #798795;
    }

    .thumbnail-wrapper:hover .thumbnail .caption {
        color: #34495e;
    }
    .thumbnail .caption h3 {
        color: #fff;
        margin: 10px;
        font-weight: 500;
    }
    .thumbnail span>img, .thumbnail>img {
        background: #2C3E50;
        height: 65%;
        object-fit: cover;
        padding: 3px;
        border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .thumbnail-image {
        display: inline-block;
        background: #2C3E50;
        background-size: 100%;
        width: 100%;
        height: 190px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .thumbnail-empty-image {
                width: 100%;
            min-height: 225px;
        display: block;
        background: #2C3E50;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
                        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .thumbnail-empty-image i {
        color: #34495E;
        font-size: 100px;
        display: block;
            padding: 60px 45px;
        text-align: center;
    }
    .thumbnail-wrapper:hover {
        cursor: pointer;
                -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
        .thumbnail-wrapper:hover .thumbnail-image, .thumbnail-wrapper:hover .thumbnail{
        background-color: #1ABC9C;
    }

        .thumbnail-wrapper:hover .thumbnail-empty-image i {
        color: #1ABC9C;
    }
    div.genre-list {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
    }
    .genre-list i {
        margin-right: 7px;
    }
    span.movie-genre:after {
        content: '|';
        padding: 0 5px;
    }
    span.movie-genre:last-child:after {
        content: '';
    }
    div.meta-data {
        font-size: 14px;
            text-align: center;
            margin-bottom: 3px;
    }
    div.meta-data span {
        margin: 0 10px;
    }
    .thumbnail-wrapper:hover span.movie-genre:last-child {
        border-right: 0;
    }