	<div id="loading" [hidden]="_imdbService.isLoadingFinished">
		<div class="sk-wave">
			<div class="sk-rect sk-rect1"></div>
			<div class="sk-rect sk-rect2"></div>
			<div class="sk-rect sk-rect3"></div>
			<div class="sk-rect sk-rect4"></div>
			<div class="sk-rect sk-rect5"></div>
		</div>
	</div>
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>
			<!-- Top Menu Items -->         
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<form name="searchForm" class="navbar-form navbar-left" action="#" role="search" autocomplete="on">
					<div class="form-group">

						<div class="input-group">
							<input id="searchBox" type="text" placeholder="Search" class="searchBox form-control" #searchFilter [ngFormControl]="term" (keyup)="onKeyChangeSearchIcon(searchFilter.value)">
							<span class="input-group-btn">
								<button type="submit" class="btn" (click)="onClickResetSearch()"><span #searchIcon [class]="searchBoxClass" ></span></button>
							</span>
						</div>
					</div>

				</form>
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-sort"></i> <span>Sort </span><i class="glyphicon glyphicon-chevron-down"></i></a>
						<ul class="dropdown-menu">
							<li><a (click)="independantSort('title',true)">Title</a></li>
							<li><a (click)="independantSort('rating',false)">Imdb Rating</a></li>
							<li><a (click)="independantSort('year',false)">Year</a></li>
							<li class="divider"></li>
							<li><a (click)="independantSort('',true)">Reset</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
				 
				<!--input type="text" #searchFilter [ngFormControl]="term" /-->
				<!-- <item-detail [imdb]="selectedItem"></item-detail> -->
				<div class="row movies-wrapper" id="movies-wrapper" (window:scroll)="onScroll($event)">
					<div class="col-xs-12 col-sm-6 col-md-3" *ngFor="#movie of cacheMovies" [class.selected]="movie === selectedItem" (click)="onSelect(movie)">
						<div class="thumbnail-wrapper">
							<div id="{{movie.imdb_id}}" class="thumbnail">
								<span [ngSwitch]="movie.poster">
									<span *ngSwitchWhen="''" class="thumbnail-empty-image"><i class="glyphicon glyphicon-facetime-video"></i></span>
									<img *ngSwitchDefault class="thumbnail-image" src="http://image.tmdb.org/t/p/w500{{movie.poster}}" alt="{{movie.title}}">
								</span>
								<div class="caption">
									<h3>{{movie.title}}</h3>
									<div class="meta-data">
										<span class="rating"><i class="glyphicon glyphicon-star"></i> {{movie.rating}}/10</span>
										<span *ngIf="movie.year" class="year"><i class="glyphicon glyphicon-time"></i> {{movie.year}}</span>
									</div>
									<div class="genre-list"><i class="glyphicon glyphicon-tags"></i><span class="movie-genre" *ngFor="#genre of movie.genre">{{genre}}</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- col-lg-9 -->
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
			<div class="filter-wrapper">
				<div id="filter-by" class="filter-content">
					<form id="filter-form" class="filter-form">
					<div class="form-group" style="margin-bottom: 0;">
					    <label for="imdbRating">IMDB Rating</label>
					    <input type="range" class="form-control slider flat" id="imdb_rating_filter" name="points" min="0" max="10" [(ngModel)]="imdbSliderValue">
					    <span class="label label-default imdb-label">{{imdbSliderValue}}</span>
					  </div>

					 <div class="form-group">
					     <label for="genres">Genre(s)</label>
					     <multiselect (modelUpdated)="updateModelGenre($event)"
					                  [multiple]="true"
					                  [collection]="genresList"
					                  [label]="'summary'"
					                  [header]="'Search Genre'"
					                  [mutiselectModel]="multiselectGenre">
					     </multiselect>
					 </div>

					 <div class="form-group">
					     <label for="languages">Languages(s)</label>
					     <multiselect (modelUpdated)="updateModelLanguage($event)"
					                  [multiple]="true"
					                  [collection]="languagesList"
					                  [label]="'summary'"
					                  [header]="'Search Language'"
					                  [mutiselectModel]="multiselectLanguage">
					     </multiselect>
					 </div>

					  <button type="submit" class="btn btn-primary btn-block" (click)="filterOut()">Filter</button>
					</form>
				</div>
			</div>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

