<div id="loading" [hidden]="_imdbService.isLoadingFinished">
	<div class="sk-wave">
		<div class="sk-rect sk-rect1"></div>
		<div class="sk-rect sk-rect2"></div>
		<div class="sk-rect sk-rect3"></div>
		<div class="sk-rect sk-rect4"></div>
		<div class="sk-rect sk-rect5"></div>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
		</div>
		<!-- Top Menu Items -->         
		<div class="collapse navbar-collapse navbar-ex1-collapse">

			<ul class="nav navbar-nav">
				<li class="title" *ngIf="imdb"><a>{{imdb.title}} ({{imdb.year}})</a></li>
				<li class="pull-right"><a (click)="goBack()"><i class="glyphicon glyphicon-remove-circle"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- /.navbar-collapse -->
</nav>

<div class="container-fluid" *ngIf="imdb">
	<!-- Page Heading -->
	<div class="cover-wrapper">
		<img src="http://image.tmdb.org/t/p/w300{{imdb.poster}}" />				
	</div>
	<div id="movieDetails" class="row movie-details">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
			<img class="movie-detail-poster" src="http://image.tmdb.org/t/p/w300{{imdb.poster}}" />	
		</div>

		<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">	
			<span class="detail"><i class="glyphicon glyphicon-blackboard"></i><label>Plot: </label> {{imdb.plot}}</span>			
			<span class="detail"><i class="glyphicon glyphicon-user"></i><label>Director: </label> {{imdb.director}}</span>
			<span class="detail"><i class="glyphicon glyphicon-user"></i><label>Cast: </label> {{imdb.cast}}</span>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
			<span class="detail"><i class="glyphicon glyphicon-book"></i><label>Language: </label> {{imdb.language}}</span>
			<span class="detail"><i class="glyphicon glyphicon-film"></i><label>IMDb: </label> {{imdb.imdb_id}}</span>
			<span class="detail"><i class="glyphicon glyphicon-star"></i><label>Rating: </label> {{imdb.rating}}/10</span>
			<span class="detail"><i class="glyphicon glyphicon-tags"></i><label>Genre: </label> {{imdb.genre}}</span>
		</div>
	</div><!-- /#movieDetails -->

	<div id="moviePlayer" class="row movie-player">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
			<div class="btn-group-vertical btn-group-sm">
				<button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-star"></i> Save</button>
				<button class="btn btn-primary" type="button"><i class="
					glyphicon glyphicon-share-alt"></i> Share</button>

					<div class="btn-group btn-group-sm">
						<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" id="btnGroupDrop1">
							<i class="glyphicon glyphicon-save"></i> Download <i class="glyphicon glyphicon-menu-down"></i>
						</button>
						<ul id="downloadList" aria-labelledby="btnGroupDrop1" role="menu" class="dropdown-menu">
							<li><a href="#">720p</a></li>
							<li><a href="#">1080p</a></li>
						</ul>
					</div>
				</div>	
		</div>
		<div class="col-lg-7 col-md-7 col-sm-6 col-xs-6">
			<!-- <video class="vjs-tech" preload="auto" poster="http://image.tmdb.org/t/p/w300{{imdb.poster}}" data-setup="{}" id="vjs_video_3_html5_api" controls>
			            <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.mp4" type="video/mp4">
			            <source src="http://iurevych.github.com/Flat-UI-videos/big_buck_bunny.webm" type="video/webm">
		          </video> -->
		          <vg-player>
		              <vg-overlay-play></vg-overlay-play>

		              <vg-scrub-bar>
		                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
		                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
		              </vg-scrub-bar>

		              <vg-controls>
		                  <vg-play-pause></vg-play-pause>
		                  <vg-playback-button></vg-playback-button>

		                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

		                  <vg-time-display>{{ media?.time?.current | formatTime }}</vg-time-display>
		                   <vg-time-display>{{ media?.time?.total | formatTime }}</vg-time-display>
		                  <vg-mute></vg-mute>

		                  <vg-fullscreen></vg-fullscreen>
		              </vg-controls>

		              <video #media id="currentVideo" preload="auto">
		                  <source *ngFor="#video of sources" [src]="video.src" [type]="video.type">
		              </video>
		          </vg-player>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">

		</div>
	</div>
</div><!-- /.container-fluid -->