input.select-input {
	font-family: 'Source Sans Pro';
	font-size: 14px;
	border: 2px solid #fff;
	border-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-bottom: 7px;
	padding-left: 5px;

}
.multiselect-wrapper {
	margin-top: 10px;
}
.multiselect-wrapper:focus input.select-input, .multiselect-wrapper:hover input.select-input, .multiselect-wrapper:focus ul, .multiselect-wrapper:hover ul, .multiselect-wrapper:focus .check-select, .multiselect-wrapper:hover .check-select {
	border-color: #1ABC9C;
}
.check-select {
	border: 2px solid #bdc3c7;
	border-top: 0;
	border-bottom: 0;
}
.btn-group>.btn {
	border-radius: 0;
	padding: 5px;
}
.btn-group>.btn i {
	font-size: 10px;
}
ul {
	list-style: none;
	/* margin: 0 5px 5px 5px; */
	padding: 0;
	background: #fff;
	border: 2px solid #fff;
	border-top: 0;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 80px;
	overflow: auto;
}
li > a {
	padding: 1px 5px;
	text-align: left;
	font-size: 14px;
	font-family: 'Source Sans Pro';
	color: #798795;
	display: block;
}
.multiselect-wrapper:hover li > a.active {
	background: #1ABC9C;
	color: #fff;
}
.tick {
	float: right;
	padding: 5px;
}