<div class="multiselect-wrapper">
<input [(ngModel)]="filterModel"
class="form-control input-sm select-input" type="text"  autofocus="autofocus" placeholder="{{multiselectHeader}}">
<div *ngIf="multiple" class="btn-group btn-group-justified check-select">
              <a class="btn btn-default btn-xs" (click)="checkAll()"><i class="glyphicon glyphicon-ok pull-right"></i> <span class="visible-lg pull-left">Check All</span></a>
              <a class="btn btn-default btn-xs" (click)="unCheckAll()"><i class="glyphicon glyphicon-remove pull-right"></i> <span class="visible-lg pull-left">Uncheck All</span></a>
</div>
<ul>
	<li *ngFor="#item of collection | searchText: filterModel: label">
		<a [class.active]="item.checked" (click)="selectItem(item)"><i *ngIf="item.checked" class="glyphicon glyphicon-ok tick"></i>{{item[label]}}</a>
	</li>
</ul>
</div>