.navbar-nav {
    width: 100%;
}
.navbar-default .navbar-nav > li > a > i.glyphicon-remove-circle {
	font-size: 25px;
}
.navbar-nav>li.title a {
	padding-left: 0;
	font-size: 19px;
}
.movie-details {
	padding: 15px 0;
}
.movie-detail-poster {
       /*width: 100%;*/
	/*object-fit: cover;*/
	min-height: 350px;
	background: #34495E;
	border: 1px solid #34495E;
}