	<div id="loading" [hidden]="_imdbService.isLoadingFinished">
		<div class="sk-wave">
			<div class="sk-rect sk-rect1"></div>
			<div class="sk-rect sk-rect2"></div>
			<div class="sk-rect sk-rect3"></div>
			<div class="sk-rect sk-rect4"></div>
			<div class="sk-rect sk-rect5"></div>
		</div>
	</div>
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>
			<!-- Top Menu Items -->         
			<div class="collapse navbar-collapse navbar-ex1-collapse">

				<ul class="nav navbar-nav">
					<li class="title" *ngIf="imdb"><a>{{imdb.title}} ({{imdb.year}})</a></li>
					<li class="pull-right"><a (click)="goBack()"><i class="glyphicon glyphicon-remove-circle"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</nav>

	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row movie-details">
			<div class="col-md-12" *ngIf="imdb">
				<img class="movie-detail-poster" src="http://image.tmdb.org/t/p/w300{{imdb.poster}}" />
				<div><label>id: </label>{{imdb.imdb_id}}</div>
				<div><label>id: </label>{{imdb.imdb_rating}}</div>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container-fluid -->

