/* Global Styles */

body {
    margin-top: 58px;
    background-color: #F9FAFB;
    /*background-color: #ECF0F1;*/
    font-family: 'Source Sans Pro';
}
h2 {
    font-size: 19px;
    font-weight: 600;
}
a {
    cursor: pointer;
}
select[multiple] {
    padding: 0;
    border: 0;
}
option {
    padding: 5px;
    font-size: 14px;
    font-family: 'Source Sans Pro';
    color: #798795;
}
label {
    font-size: 16px;
    line-height: 1;
}
.label-default {
    background-color: #34495E;
    color: #fff;
}
/* Input type Range customized */
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 0;
    background: transparent;
    /*required for proper track sizing in FF*/
    width: 100%;

}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: #798795;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1ABC9C;
    margin-top: -6px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #34495E;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #798795;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1ABC9C;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #798795;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1ABC9C;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #34495E;
}
/* Input type Range customized */

#loading {
    width: 100%;
    height: 100%;
    background: url(../images/loader-pattern.png);
    background-size: 32px;
     /*display: none; */
    position: fixed;

    z-index: 1031;
    -webkit-transition: all 3s ease;
      -moz-transition: all 3s ease;
      -ms-transition: all 3s ease;
      -o-transition: all 3s ease;
      transition: all 3s ease;
}

@media(min-width:768px) {
    body {
        margin-top: 58px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    /*padding: 15px 0;*/
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
}

/* Top Navigation */
.navbar-default {
    background-color: #E2E8E9; 
    height: 58px;
    border-bottom: 1px solid #D3DCDE;
        margin-left: 225px;
        transition-duration: .3s;
}
.navbar-nav > li > a {
    font-weight: 600;
}
.navbar .container, .navbar .container-fluid {
        padding-right: 15px;
    padding-left: 15px;
}
.navbar-form .form-control-feedback {
    font-size: 14px;
    padding: 0;
}
.navbar-form .form-control-feedback .focus {
    color: #1ABC9C;
}
.navbar-form .form-control, .navbar-form .select2-search input[type="text"] {
    font-family: 'Source Sans Pro';
    font-size: 16px;
}
.navbar-form .input-group {
        -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;  
}
.navbar-form .input-group.focus {
    width: calc(100% + 100%);
}
.navbar-collapse .navbar-form:first-child {
    padding-left: 0;
}
.collapse.navbar-collapse {
    margin: 2px;
}
.header-logo {
	background-color: #2C3E50;
	float: left;
	height: 58px;
	width: 225px;
	position: fixed;
	z-index: 999;
	overflow: hidden;
	transition-duration: .3s;
    top: 0;
}
.header-logo a {
	display: block;
	margin-top: 9px;
	color: #C0C5CE;
	margin-left: 50px;
	font-size: 19px;
	line-height: 40px;
        font-weight: 600;
}
.header-logo i {
    display: none;
}
.collapse-nav .toggle-nav-collapse {
	width: 225px;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 13px;
	height: 38px;
	text-align: center;
	line-height: 10px;
	transition-duration: .3s;
	outline: none;
	color: #fff;
	background: #2C3E50;
}
.collapse-nav .toggle-nav-collapse i {
	margin: 11px;
}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #65737E;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Minimized sidebar */
.sidebar-min .sidebar,.sidebar-min .side-nav,.sidebar-min .header-logo,.sidebar-min .collapse-nav .toggle-nav-collapse {
    width: 75px;
}
.sidebar-min .navbar-nav {
    margin-left: 0;
}
.sidebar-min .navbar-default{
    margin-left: 75px;
}
.sidebar-min #wrapper {
    padding-left: 75px;
}
.sidebar-min .sidebar .navbar-nav>li>a {
    text-align: center;
}
.sidebar-min .sidebar .navbar-nav>li>a>i {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;

}
.sidebar-min .sidebar .navbar-nav>li>a>span {
    display: none;
}
.sidebar-min .header-logo a {
    display: none;
}
.sidebar-min .header-logo i {
    display: block;
    font-size: 25px;
    color: #C0C5CE;
        margin: 15px auto;
        text-align: center;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
.dropdown-menu, .select2-drop {
        background-color: #ECF0F1;
        border: 1px solid #D3DCDE;
}
.dropdown-menu:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #D3DCDE;
    position: absolute;
    top: -20px;
    left: 40px;
}
.navbar-nav i.glyphicon {
    font-size: 12px;
}

/* Side Navigation */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    height: 100%;
    transition-duration: .3s;
    width: 225px;
    z-index: 100;
}
.side-nav {
    position: fixed;
    top: 58px;
    width: 225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #34495E;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    padding-top: 12px;
    transition-duration: .3s;
}
.sidebar .navbar-nav>li {
    width: 100%;
}
.sidebar .navbar-nav>li>a {
    color: #798795;
    padding: 7px 15px;
    font-weight: normal;
}
.sidebar .navbar-nav>li>a.router-link-active, .sidebar .navbar-nav>li>a.router-link-active:hover {
    background: #1ABC9C;
    color: #fff;
}
.sidebar .navbar-nav>li>a>i {
margin-right: 7px;
    transition-duration: .3s;
}
.sidebar .navbar-nav>.active>a, .sidebar .navbar-nav>.active>a:focus, .sidebar .navbar-nav>.active>a:hover {
    background-color: #1ABC9C;
        color: #fff;
}
.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #2C3E50;
}



.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/* Button */
.btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border: 0;
}
.btn-default {
    color: #fff;
    background-color: #bdc3c7;
    border: 0;
}

/* Animation - Loader */
.sk-wave {
  position:fixed;
  top: 0;
  left: 50%;
  height: 58px;
  width: 60px;
  text-align: center;
  font-size: 10px; 
  z-index: 1031;
}
  .sk-wave .sk-rect {
    background-color: #2C3E50;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

/* Media queries */

@media(min-width:768px) {

}

@media(max-width: 45em) {
    .sidebar, .side-nav, .header-logo, .collapse-nav .toggle-nav-collapse {
        width: 75px;
    }
    .navbar-nav {
        margin-left: 0;
    }
    .navbar-default{
        margin-left: 75px;
    }
    #wrapper {
        padding-left: 75px;
    }
    .sidebar .navbar-nav>li>a {
        text-align: center;
    }
    .sidebar .navbar-nav>li>a>i {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
        padding: 5px;

    }
}